body{
    background-color: #333533;
}

.icons{
    font-size: 30px;
    
}

.form-control{
    padding-left: 35px;
    height: 45px;
}
.search_icons{
    font-size: 30px;
}

.search_icon{
    
    font-size: 20px;
}
.add_icon{
    font-size: 35px;
    color: white;
    

}

.model_bg_blur{
    width: 100%;
}

.modal-dialog {
    /* max-width: 500px; or any desired width */
    width: 100%;
  }

.card_container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
.card_contact{
    width: 900px;
}
.search_bar{
    display: flex;
    justify-content: center;
}
.search_form{
    width: 900px;
}